<ion-header>
  <ion-navbar>
    <ion-title>Page Two</ion-title>
  </ion-navbar>
  <ion-searchbar
    mode="ios" showCancelButton 
    [(ngModel)]="searchTerm"
    (ionInput)="onInputSearch($event)"
    (ionCancel)="onCancelSearch()">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
